<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
    <Product Id="*" UpgradeCode="b3bb155f-13e7-4cb8-9c7a-61117c93e36c" Version="1.2" Language="1033" Name="Epple2" Manufacturer="Christopher Alan Mosher">
        <Package InstallerVersion="300" Compressed="yes"/>
        <Media Id="1" Cabinet="Epple2.cab" EmbedCab="yes" />

        <Directory Id="TARGETDIR" Name="SourceDir">
            <Directory Id="ProgramFilesFolder">
                <Directory Id="APPLICATIONROOTDIRECTORY" Name="Epple2">
                    <Directory Id="bindot" Name=".">
                        <Directory Id="bin" Name="bin" />
                    </Directory>
                    <Directory Id="etcdot" Name=".">
                        <Directory Id="etc" Name="etc">
                            <Directory Id="conf" Name="epple2"/>
                        </Directory>
                    </Directory>
                </Directory>
            </Directory>
            <Directory Id="ProgramMenuFolder" Name="Programs">
                <Directory Id="ApplicationProgramsFolder" Name="Epple2"/>
            </Directory>
        </Directory>

        <DirectoryRef Id="bin">
            <Component Id="epple2.exe" Guid="ffd2b182-9144-42c7-a836-2355f132b90a">
                <File Id="epple2.exe" Source="epple2.exe" KeyPath="yes" Checksum="yes"/>
                <File Id="SDLDLL" Name="sdl2.dll" Source="$(var.SDLDIR)\SDL2.dll" />
            </Component>
        </DirectoryRef>

        <DirectoryRef Id="ApplicationProgramsFolder">
            <Component Id="ApplicationShortcut" Guid="3ad5f6f0-9def-468a-b12b-b01bebdc754a">
                <Shortcut Id="ApplicationStartMenuShortcut" 
                          Name="Epple2" 
                          Description="Emulated Apple 2"
                          Target="[bin]epple2.exe"
                          WorkingDirectory="APPLICATIONROOTDIRECTORY"/>
                <Shortcut Id="UninstallProduct"
                          Name="Uninstall Epple2"
                          Description="Uninstalls Epple2"
                          Target="[System64Folder]msiexec.exe"
                          Arguments="/x [ProductCode]"/>
                <RemoveFolder Id="RemoveApplicationProgramsFolder" Directory="ApplicationProgramsFolder" On="uninstall"/>
                <RegistryValue Root="HKCU" Key="Software\Mosher\Epple2" Name="installed" Type="integer" Value="1" KeyPath="yes"/>
            </Component>
        </DirectoryRef>

        <DirectoryRef Id="conf">
            <Component Id="ConfigFiles" Guid="73840760-f488-4b60-8bc2-ccdf2196153d">
                <File Id="Config"            Name="epple2.conf"             Source="..\conf\epple2.conf"          Vital="yes" />
                <File Id="Config_rev0bare"   Name="epple2.rev0bare.conf"    Source="..\conf\epple2.rev0bare.conf" Vital="yes" />
                <File Id="Config_a2bare"     Name="epple2.a2bare.conf"      Source="..\conf\epple2.a2bare.conf"   Vital="yes" />
                <File Id="Config_a2dos31"    Name="epple2.a2dos31.conf"     Source="..\conf\epple2.a2dos31.conf"  Vital="yes" />
                <File Id="Config_a2dos33"    Name="epple2.a2dos33.conf"     Source="..\conf\epple2.a2dos33.conf"  Vital="yes" />
                <File Id="Config_a2loaded"   Name="epple2.a2loaded.conf"    Source="..\conf\epple2.a2loaded.conf" Vital="yes" />
            </Component>
        </DirectoryRef>

        <Feature Id="MainApplication" Title="Main Application" Level="1">
            <ComponentRef Id="epple2.exe" />
            <ComponentRef Id="ApplicationShortcut" />
            <ComponentRef Id="ConfigFiles" />
        </Feature>
    </Product>
</Wix>
